/* case */
#wedding-main {width:1100px;margin:20px auto;position:relative;}
#wedding-main img{width:100%;}
#wedding-main h2{width:80%;font-family: "MicrosoftYaHei";font-size:24px;margin:10px 10%;}
#wedding-main h2 img{width:30px;height:30px;}
#wedding-main p{width:80%;font-family: "MicrosoftYaHei";font-size:18px;line-height:24px;text-indent:2em;margin:10px auto;}
#wedding-main #case3 {float:left;width:94%;height:42%;margin:2% 3% 0;border:3px solid #ece9f0;}
#wedding-main #case1,#wedding-main #case2,#wedding-main #case4,#wedding-main #case5 {float:left;width:45.4%;height:26%;margin:2% 2% 0;border:3px solid #ece9f0;}
#wedding-main #case1:hover,#wedding-main #case2:hover,#wedding-main #case3:hover,#wedding-main #case4:hover,#wedding-main #case5:hover{-webkit-box-shadow:4px 4px 4px #ccc;-moz-box-shadow: 4px 4px 4px #ccc; box-shadow: 4px 4px 4px #ccc; }
#wedding-main #case6{clear:both;}

/* case */
#huodong-main {width:1100px;margin:20px auto;position:relative;}
#huodong-main #bg {width:100%;background:#ddd;margin:10px 0;border:1px solid #ccc;}
#huodong-main #bg a{font-size:24px;color:#928f8f;margin:0 10px;cursor:pointer;}
#huodong-main img{width:100%;height:100%;}
#huodong-main h2{width:50%;font-family: "MicrosoftYaHei";font-size:24px;margin:10px 0;}
#huodong-main #case1 {width:80%;padding:10px;background:#fff;-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#huodong-main  img{float:left;width:50%;}
#huodong-main  h2{float:left;width:40%;margin:10px 0 0 5%;}
#huodong-main  p{float:left;width:40%;font-family: "MicrosoftYaHei";font-size:18px;line-height:24px;text-indent:2em;margin:10px 0 0 5%;}
#huodong-main #case2 {width:80%;padding:10px;margin-left:4.5%;background:#fff;-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#huodong-main #case3 {width:80%;padding:10px;margin-left:9%;background:#fff;-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#huodong-main #case4 {width:80%;padding:10px;margin-left:13%;background:#fff;-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#huodong-main #case5 {width:80%;padding:10px;margin-left:18%;background:#fff;-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#huodong-main #case1,#huodong-main #case2,#huodong-main #case3,#huodong-main #case4,#huodong-main #case5{filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
#huodong-main #case1:hover,#huodong-main #case2:hover,#huodong-main #case3:hover,#huodong-main #case4:hover,#huodong-main #case5:hover{background:#fff;filter:alpha(opacity=100); -moz-opacity:1.0; -khtml-opacity: 1.0; opacity: 1.0;}

#xiangqing-main{width:1100px;margin:20px auto;position:relative;}
#xiangqing-main h2{font-family: "MicrosoftYaHei";font-size:24px;text-align:center;margin:10px 0;}
#xiangqing-main p{width:80%;font-family: "MicrosoftYaHei";font-size:18px;line-height:30px;text-indent:2em;margin:10px 0 20px 10%;}
#xiangqing-main img{width:100%;}
#xiangqing-main li{float:left;width:33%;margin:-2px 0;position:relative;}
#tips{display:none;position:absolute;height:80px;font-size:60px;text-align:center;color:#fff;background-color:#343434;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}


#pinpai-main {width:1100px;margin:2px auto;position:relative;}
#pinpai-nav ul{width:100%;height:40px;margin:2px auto;}
#pinpai-nav li{float:left;width:25%;height:40px;font-size:20px;text-align:center;line-height:40px;background-color: #ccc;}
#pinpai-nav li a{text-decoration:none;color:#000;}
#pinpai-nav li:hover{background-color:pink;}

#pinpai-show ul{ margin-top:10px;position:relative;}
#pinpai-show img{width:90%;margin:20px 5%;}
#pinpai-show .item1,#pinpai-show .item2,#pinpai-show .item3,#pinpai-show .item4,#pinpai-show .item5{background:#fff;}
#pinpai-show .item1:hover,#pinpai-show .item2:hover,#pinpai-show .item3:hover,#pinpai-show .item4:hover{-webkit-box-shadow:4px 4px 10px #ccc;-moz-box-shadow: 4px 4px 10px #ccc; box-shadow: 4px 4px 10px #ccc;}
#pinpai-show .item1{width:40%;height:600px;border:2px solid #ccc;}
#pinpai-show .item2{position:absolute;left:40%;top:0;width:60%;height:400px;border:2px solid #ccc;}
#pinpai-show .item3{width:60%;height:400px;border:2px solid #ccc;}
#pinpai-show .item4{position:absolute;left:60%;bottom:0;width:40%;height:600px;border:2px solid #ccc;}
#pinpai-show .item5{position:absolute;left:35%;width:30%;height:280px;bottom:345px;border:1px solid #ccc;z-index:-1;}
#pinpai-show .item5 img{width:300px;height:210px;}
#pinpai-show .item2 img,#pinpai-show .item3 img{float:left;width:420px;height:360px;margin-left:20px;}
#pinpai-show .item2 p,#pinpai-show .item3 p{width:auto;margin:10px 10px;}
#pinpai-show p{width:90%;color:#000;margin:10px 5%;text-indent:2em;font-size:20px;line-height:30px;}
.clear{clear:both;}


#dongtai-main {width: 1000px;border: 2px solid #ababab;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;box-shadow: 2px 2px 10px #ababab;margin: 10px auto 10px;text-align: left;} 
#dongtai-mainTitle {height: 62px;overflow: hidden; font-size: 20px;color:#807d7f;line-height: 62px;padding-left: 30px;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;background:#fedcf0;}
#dongtai-mainTitle a {position: absolute;right: 10px;display: inline;color: #fff;font-size: 12px;line-height: 24px;}
#dongtai-mainBot {width: 900px;height: 10px;overflow: hidden;}
#dongtai-mainBox {height: 600px;width:900px;margin-left: 25px;margin-top: 10px;overflow: hidden;}
#dongtai-main ul li {width:900px;height: 50px;color:#000;border-bottom:1px dashed #ccc;}
#dongtai-main ul li a {width: 600px;color:#000;font-size:16px;float: left;display: block;overflow: hidden;text-indent: 15px;height:50px;line-height:50px;}
#dongtai-main ul li span {float: right;color: #999;line-height:50px;}

#lianxi-main{width:1100px;height:800px;margin:2px auto ;position:relative;}
#lianxi-main ul{width:1000px;margin:0 auto;}
#lianxi-main li{float:left;width:230px;height:240px;margin:10px;background:#ccc;}
#lianxi-main h3{text-align:center;font-size:18px;margin-top:20px;}
#lianxi-main p{text-align:center;font-size:16px;}
#lianxi-main li img{margin:50px 95px 0;}
#lianxi-main .item1{background:#f2d9d9;}
#lianxi-main .item2{background:#d7ecee;}
#lianxi-main .item3{background:#eaf2da;}
#lianxi-main .item4{background:#d5ecf9;}

/* 案例 */
#anli1{width:1100px;height:1500px;margin:0 auto;}
#anli1 h2{float:left;margin-left:2%;width:90%;height:50px;font-size:30px;line-height:50px;}
#anli1 a{float:left;width:5%;height:30px;line-height:30px;text-decoration:none;color:#ccc;font:20px Arial, Helvetica, sans-serif;margin:20px 0 0 ;sborder:1px solid red;}
#anli1 ul{width:100%;}
#anli1 li{float:left;width:46%;margin:10px 2% 0;-webkit-box-shadow:4px 4px 10px #3d3b3c;-moz-box-shadow: 4px 4px 10px #3d3b3c; box-shadow: 4px 4px 10px #3d3b3c;}
#anli1 img{width:100%;}


#anli2{width:1100px;height:1500px;margin:0 auto;}
#anli2 h2{float:left;margin-left:2%;width:90%;height:50px;font-size:30px;line-height:50px;}
#anli2 a{float:left;width:5%;height:30px;line-height:30px;text-decoration:none;color:#ccc;font:20px Arial, Helvetica, sans-serif;margin:20px 0 0 ;sborder:1px solid red;}
#anli2 ul{width:100%;}
#anli2 li{float:left;width:46%;margin:10px 2% 0;-webkit-box-shadow:4px 4px 10px #3d3b3c;-moz-box-shadow: 4px 4px 10px #3d3b3c; box-shadow: 4px 4px 10px #3d3b3c;}
#anli2 img{width:100%;}

#anli3{width:1100px;height:1500px;margin:0 auto;}
#anli3 h2{float:left;margin-left:2%;width:90%;height:50px;font-size:30px;line-height:50px;}
#anli3 a{float:left;width:5%;height:30px;line-height:30px;text-decoration:none;color:#ccc;font:20px Arial, Helvetica, sans-serif;margin:20px 0 0 ;sborder:1px solid red;}
#anli3 ul{width:100%;}
#anli3 li{float:left;width:46%;margin:10px 2% 0;-webkit-box-shadow:4px 4px 10px #3d3b3c;-moz-box-shadow: 4px 4px 10px #3d3b3c; box-shadow: 4px 4px 10px #3d3b3c;}
#anli3 img{width:100%;}

#anli4{width:1100px;height:1500px;margin:0 auto;}
#anli4 h2{float:left;margin-left:2%;width:90%;height:50px;font-size:30px;line-height:50px;}
#anli4 a{float:left;width:5%;height:30px;line-height:30px;text-decoration:none;color:#ccc;font:20px Arial, Helvetica, sans-serif;margin:20px 0 0 ;sborder:1px solid red;}
#anli4 ul{width:100%;}
#anli4 li{float:left;width:46%;margin:10px 2% 0;-webkit-box-shadow:4px 4px 10px #3d3b3c;-moz-box-shadow: 4px 4px 10px #3d3b3c; box-shadow: 4px 4px 10px #3d3b3c;}
#anli4 img{width:100%;}

#anli5{width:1100px;height:1500px;margin:0 auto;}
#anli5 h2{float:left;margin-left:2%;width:90%;height:50px;font-size:30px;line-height:50px;}
#anli5 a{float:left;width:5%;height:30px;line-height:30px;text-decoration:none;color:#ccc;font:20px Arial, Helvetica, sans-serif;margin:20px 0 0 ;sborder:1px solid red;}
#anli5 ul{width:100%;}
#anli5 li{float:left;width:46%;margin:10px 2% 0;-webkit-box-shadow:4px 4px 10px #3d3b3c;-moz-box-shadow: 4px 4px 10px #3d3b3c; box-shadow: 4px 4px 10px #3d3b3c;}
#anli5 img{width:100%;}



/* 品牌 */
#MAR-show{width:100%;background:#f4f7f7;}
#MAR-show h1{color:#000;width:200px;margin:auto;}
#MAR-show p{margin:4% 20% 0 20%; font:20px Arial, Helvetica, sans-serif;}
#MAR-show .mar{width:600px;height:600px;margin:50px auto ;border-radius:50%;border:1px solid #f9dae6;background:#f9dae6;}
#MAR-show .mar .word{margin-top:120px;}
#MAR-show .mar p{width:250px;font-size:60px;line-height:90px;margin:0 auto;}

#fuwu-show{width:100%;background:#fdfafc;}
#fuwu-show p{ text-align:center;margin:10px 0;font:20px Arial, Helvetica, sans-serif;}
#fuwu1 #show-fuwu1{width:100%;height:180px;margin:20px 0;}
#fuwu1{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu1 #show-fuwu1 #navbar1{float:left;width:180px;height:180px;background:#ebf5f1;}
#fuwu1 #show-fuwu1 #navbar2{float:right;width:80px;height:80px;margin-top:100px;background:#f1d0e4;}
#fuwu1 #show-fuwu2{width:100%;}
#fuwu1 #show-fuwu2 img{width:100%;}

#fuwu2{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu2 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu2 #show-fuwu2{width:100%;}
#fuwu2 img{width:100%;}

#fuwu3{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu3 #show-fuwu1{position:relative;width:100%;margin:5px 0;}
#fuwu3 #show-fuwu1 ul{position:absolute;width:100%;height:100%;z-index:-0.1;}
#fuwu3 #show-fuwu1 li{float:left;width:20%;height:26%;border-radius:50%;}
#fuwu3 #show-fuwu1 .bg1{margin-right:60%;background:#e3f496;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
#fuwu3 #show-fuwu1 .bg2{background:#c5b9c4;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
#fuwu3 #show-fuwu1 .bg3{margin:34% 60% 0 0;background:#eddcb6;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
#fuwu3 #show-fuwu1 .bg4{margin:34% 0 0 0;background:#c9d4c6;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
#fuwu3 img{width:80%;margin:10% 10%;}

#fuwu4{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu4 #show-fuwu1{width:100%;margin:5px 0;background:#ebe692;}
#fuwu4 #show-fuwu1 #bg5{width:80%;margin:0 10%;background:#fff;}
#fuwu4 img{width:97%;margin:0 1.5%;}

#fuwu5{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu5 #show-fuwu1{width:100%;border-radius:50%;margin:5px 0;background:#eaf6e3;}
#fuwu5 #show-fuwu1 #bg6{width:60%;margin:0 20%;}
#fuwu5 img{width:80%;margin:20% 10%;}

#fuwu6{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu6 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu6 img{width:80%;margin:1% 10%;}

#fuwu7{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu7 #show-fuwu1{width:100%;border-radius:50%;margin:5px 0;background:#e3e0f7;border:1px solid #fff;}
#fuwu7 #show-fuwu1 #bg7{width:90%;margin:5% auto;background:#f9eff1;}
#fuwu7 img{width:88%;margin:10% 6%;}

#fuwu8{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu8 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu8 img{width:80%;margin:1% 10%;}

#fuwu9{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu9 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu9 #show-fuwu1 #top{width:76%;height:100px;margin:0 0 14px 12.3%;background:#f5f9b8;}
#fuwu9 #show-fuwu1 #bottom{width:76%;height:100px;margin: 14px 0 0 12.3%;background:#f5f9b8;}
#fuwu9 #show-fuwu1 #center{width:100%;background:#f5f9b8;}
#fuwu9 img{width:76%;margin:0 11%;border-left:14px solid #fff;border-right:14px solid #fff;}

#fuwu10{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu10 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu10 img{width:80%;margin:1% 10%;}

#fuwu11{border-bottom:1px solid #ccc;margin-bottom:40px;}
#fuwu11 #show-fuwu1{width:100%;margin:5px 0;}
#fuwu11 #show-fuwu1 .item1{float:left;width:10%;height:100px;}
#fuwu11 #show-fuwu1 .item2{float:right;width:10%;height:100px;}
#fuwu11 #show-fuwu1 .item3{clear:both;width:80%;height:100px;margin:0 10% 0;}
#fuwu11 #show-fuwu1 ul{height:200px;}
#fuwu11 #show-fuwu1 li{background:#f8ecdd;}
#fuwu11 img{width:100%;}

#fuwu12 #show-fuwu1{width:100%;border-radius:50%;margin:5px 0;background:#f1e2d0;}
#fuwu12 #show-fuwu1 #bg8{width:96%;margin:0 2%;}
#fuwu12 img{width:80%;margin:20% 10%;}

#changdi-show h2{text-align:center;font-size:20px;margin:10px auto;}
#changdi-show p{width:80%;font:14px '微软雅黑','宋体',Arial, Helvetica, sans-serif;line-height:28px;text-indent:2em;margin:0 auto;}
#changdi-show #changdi1{width:100%;border:2px solid #ccc;}
#changdi-show #changdi1 ul{width:98%;margin:80px 1%;}
#changdi-show #changdi1 li{float:left;width:48%;margin:1% 1%;}
#changdi-show #changdi1 img{width:100%;}
#changdi-show .clear{clear:both;}

#changdi-show #changdi2{width:100%;border:2px solid #ccc;}
#changdi-show #changdi2 ul{width:80%;margin:20px 10%;}
#changdi-show #changdi2 li{margin:1% 1%;}
#changdi-show #changdi2 img{width:100%;}

#changdi-show #changdi3{width:100%;border:2px solid #ccc;}
#changdi-show #changdi3 ul{width:100%;margin:20px auto;position:relative;}
#changdi-show #changdi3 #cd1{width:40%;margin-right:2%;}
#changdi-show #changdi3 #cd2{width:58%;position:absolute;right:0;bottom:0;}
#changdi-show #changdi3 #cd3{width:70%;}
#changdi-show #changdi3 img{width:100%;}



#tuandui-show{width:100%;height:500px;}